.column-icon{
    width: 40px;
}

.customers-icons-column{
    margin: 10%;
}

.logo-grayscale{
    filter: grayscale(100%);
    transition: filter 0.3s ease
}

.logo-grayscale:hover {
    filter: grayscale(0%);
}

.services-row{
    margin: 5%;
}

.services-items{
    padding-top: 2%;
    padding-bottom: 5%;
}

.services-items-h4{
    padding-top: 10%;
}

.services-items-logo{
    width: 15vh;
    height: 15vh;
    transition: transform .2s; 
}

.services-items-logo:hover{
    transform: scale(1.15); 
}

.bg-image{
    background-image: url('../images/IslaGamesBanner2.png');
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.islagames-text{
    width: 60%;
    padding-left: 10%;
}