.bi {
    fill: currentColor;
}

.footer {
    background-color: #343a40;
    color: #f8f9fa;
    font-size: 14px;
}

.footer-logo {
    max-width: 100px;
    height: auto;
}

.footer p {
    margin: 0;
}

.footer a {
    margin: 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5)
}

.footer a:hover {
    color:rgba(255, 255, 255, 1)
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #343a40;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    color: #ffffff;
    background-color: #ffffff27;
}